/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --page-background-color: #000028;
  --header-background-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --card-title-color: #FF0070;
  --card-subtitle-color: #000028;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
}