/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --page-background-color: #000028;
  --header-background-image: url(../images/cover-image-dark.png);
  --heder-min-height: 668px;
  --font-size-header-footer: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --line-height-header-footer: 96px;
  --header-padding: clamp(10px, 0.458px + 2.5445vw, 20px);
  --text-font-size: 18px;
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --card-title-color: #FF0070;
  --card-subtitle-color: #000028;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
  --rec-padding-right: clamp(38px, calc(28.458px + 2.545vw), 48px);
  --rec-padding-top: clamp(10px, 0.458px + 2.5445vw, 20px);
  --menu-padding-top: clamp(65px, calc(-37.099px + 27.226vw), 172px);
  --dot-padding: clamp(18px, 8.458px + 2.5445vw, 28px);
  --decorated-zone-padding: clamp(10px, calc(0.458px + 2.545vw), 20px);
  --main-padding-top-bottom: clamp(40px, calc(20.916px + 5.089vw), 60px);
  --main-padding-left-right: clamp(10px, calc(0.458px + 2.545vw), 20px);
  --card-padding: clamp(50px, calc(21.374px + 7.634vw), 80px);
}

@media (width >= 768px) {
    :root {
        --heder-min-height: 1024px;
        --font-size-header-footer: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        --line-height-header-footer: 99px;
        --main-padding-top-bottom: 60px;
        --main-padding-left-right: 20px;
        --card-padding: 80px;
        --rec-padding-right: 28px;
    }
  }

@media (width >= 1024px) {
    :root {
        --font-size-header-footer: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
        --line-height-header-footer: 130px;
        --heder-min-height: 768px;
        --main-padding-top-bottom: 60px;
        --main-padding-left-right: 20px;
        --card-padding: 80px;
    }
  }